body{
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}
header{
    height: 350px;
    margin: 0px;
    overflow: hidden;
    margin-top: 0px;
    padding: 0px;
    background-image: url(background2.png);
}

#id2{
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 45px;
    font-weight: 300;
}
#id3{
    text-align: center;
    color: white;

}
#id4{
    margin-left: 500px;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    background-color: white;
    border: 0px;
    font-weight: bolder;
}
#id5{
    margin-left: 20px;
    margin-top: 10px;
    width: 130px;
    height: 40px;
    background-color: white;
    border: 0px;
    font-weight: bolder;
}
#id1{
    text-align: center;
    margin-top: 30px;
color: white;    
}
#id7{
    width: 400px;
    height: 200px;
}
#id6{
    margin-left: 70px;
    
}
#id10{
    width: 400px;
    height: 200px;
}
div{
    display: inline-block
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main > div {
    flex: 1;
    max-width: 45%;
    margin: 20px;
    text-align: center;
}
footer{
    text-align: center;
}
#id13{
    margin-left: 70px;
}
#id14{
    text-align: center;
}
#id15{
    text-align: center;
}
#id16{
    text-align: center;
}
#subscribe{
    width: 60%;
    align-items: center;
    height: 30px;
    margin-top: 40px;
}
#sub1{
    margin-left: 150px;
    font-size: 25px;
}
#sub2{
    height: 36px;
    background-color: black;
    color: white;
}
footer{
    margin-top: 30px;
}
.contact-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .contact-icon {
    margin: 20px;
    width: 50px;
    height: 50px;
  }